.btn-success {
  transition: all 0.3s ease;
}

.btn-success:hover {
  background-color: #048636; /* Darker blue */
  transform: scale(1.03); /* Slightly enlarges */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow */
  border: none;
}